.site-menu {
	background: #FFF;

	// Stuff we want to hide on AMP	
	ul ul, .description, .expand {
		display: none;
	}

	.site-menu__header {
		display: table;
		padding: 0 30px;
		height: 80px;
		width: 100%;
		line-height: 80px;
		
		// Make the login component red in the site menu
		.login {
			fill: $red;
		}

		.c-account-menu, .site-menu__close {
			display: table-cell;
			width: 50%;
			vertical-align: middle;
		}

		.c-account-menu {
			padding-left: 0;
		}

		.c-account-menu .c-account-menu__link-text {
			color: $red;
		}

		.site-menu__close {
			svg {
				cursor: pointer;
				float: right;
			}
		}
	}

	// All levels
	ul {
		list-style: none;

		li {
			position: relative;

			a {
				display: inline-block;
				position: relative;
				text-decoration: none;
				width: 100%;

				&:hover {
					color: $red;
					background: $light-grey;
				}
			}
		}
	}

	nav {

		// Top level links only
		> ul {
			border-top: 1px solid $border-colour;
			
			> li {		
				// border-top: 1px solid $border-colour;

				> a {
					border-bottom: 1px solid $border-colour;
					color: $red;
					display: block;
					font-family: $font-bright;
					padding: 19px 30px;

					&:hover {
						.description {
							opacity: 1;
						}
					}
				}
				
				&.menu-item-has-children > .expand {
					height: 56px;
					width: 56px;
				}
			}
		}	
	}
}