amp-user-notification {
	background: #000;
	display: block;
	padding: 15px 130px 15px 20px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 30;

	p, a {
		color: #FFF;
	}

	p {
		display: inline-block;
		font-size: 12px;
		line-height: 18px;
		max-width: 780px;
		margin-bottom: 0;
	}

	a {
		text-decoration: underline;
	}

	button {
		cursor: pointer;
		background-color: transparent;
		border: 2px solid #FFF;
		color: #FFF;
		font-size: px-to-rem(10);
		font-weight: 700;
		letter-spacing: px-to-rem(1.2);
		line-height: px-to-rem(12);
		padding: 10px 10px;
		position: absolute;
		text-transform: uppercase;
		transform: translate(0, -50%);
		top: 50%;
		right: 20px;
	}
}