.c-single-introduction {
	margin-top: 30px;
	margin-bottom: 50px;

	.c-single-introduction__wrapper {
		display: table;
		padding-bottom: 40px; // accounts for the pattern gap
		width: 100%;
	}

	.c-single-introduction__feature, .c-single-introduction__text {
		display: table-cell;
		vertical-align: top;
	}

	.c-single-introduction__feature {
		width: 410px;
	}

	.c-single-introduction__feature-wrapper {
		position: relative;

		&:before {
			content: '';
			background-image: url('../images/pattern2x.png');
			background-size: 28px;
			position: absolute;
			top: 0;
			left: 0;
			transform: translate(-40px, -40px);
			height: calc(100% - 80px);
			width: 100%;
		}
	}

	.c-single-introduction__feature-box {
 		background: #FFF;
		padding: 40px;
		position: relative;

		.h3 {
			line-height: px-to-rem(40);
		}

		p:last-child {
			margin-bottom: 0;
		}
	}

	.c-single-introduction__text {
		padding-left: 90px;
	}

	&.all-sectors {
		.c-single-introduction__feature-box {
			padding: 60px 40px;
		}
	}
}

/* ===== Sectors Stats ===== */

.c-single-introduction {

	.c-stat {
		margin-top: 30px;
		
		&:first-child {
			margin-top: 0;
		}
	}

	.c-stat__wrapper {
		display: table;

		.c-stat__icon, .c-stat__content {
			display: table-cell;
			vertical-align: top;
		}

		.c-stat__icon {
			padding-top: 8px;
		
			svg {
				max-height: 40px;
				max-width: 40px;
			}
		}
	}

	.c-stat__content {
		padding-left: 20px;
	}

	.c-stat__value {
		@extend .h3;
		margin-bottom: 0;
	}
	
}

@media #{$media-tablet-middle} {
	.c-single-introduction {
		.c-single-introduction__feature {
			width: 40%;
		}

		.c-single-introduction__text {
			padding-left: 50px;
		}

		&.all-sectors {
			.c-single-introduction__feature-box {
				padding: 60px 40px;
			}
		}
	}
}

@media #{$media-mobile-large} {
	.c-single-introduction {
		.c-single-introduction__wrapper {
			display: block;
			padding-bottom: 0;
		}

		.c-single-introduction__feature, .c-single-introduction__text {
			display: block;
			width: 100%;
		}

		.c-single-introduction__feature {
			margin: 0 calc(50% - 50vw);
			margin-bottom: 40px;
			width: auto;
		}

		.c-single-introduction__feature-wrapper {
			&:before {
				content: '';
				top: -40px;
				transform: none;
				height: 100%;
			}
		}

		.c-single-introduction__text {
			padding-left: 0;
		}
	}
}