.c-agenda {
	margin-bottom: 50px;

	.c-agenda__slide {
		display: none;
		width: 100%;
	}

	/* ==== Day label and navigation ==== */

	.c-agenda__day {
		padding-bottom: 30px;
		text-align: center;
		width: 200px;
	}

	.c-agenda__day-box {
		background: #FFF;
		border: 1px solid #979797;
		display: inline-block;
		font-weight: 700;
		padding: 15px 50px;
		position: relative;
		text-align: center;
		z-index: 5;
		
		.prev, .next {
			cursor: pointer;
			position: absolute;
			top: 0;
			height: 100%;
			width: 40px;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-6px, -6px);
				width: 0;
				height: 0;
				border-style: solid;
			}
		}

		.prev {
			left: 0;

			&:before {
				border-width: 6px 12px 6px 0;
				border-color: transparent $red transparent transparent;
			}

			&.disabled:before {
				border-color: transparent $border-colour transparent transparent;
			}
		}

		.next {
			right: 0;

			&:before {
				border-width: 6px 0 6px 12px;
				border-color: transparent transparent transparent $red;
			}

			&.disabled:before {
				border-color: transparent transparent transparent $border-colour;
			}
		}
	}

	/* ==== Timeline cells ==== */

	.c-agenda__wrapper {
		display: table;
		position: relative;
		width: 100%;
		z-index: 1;
	}

	.c-agenda__row {
		display: table-row;
	}

	.c-agenda__cell {
		display: table-cell;
		vertical-align: middle;
	}

	.c-agenda__description {
		position: relative;
	}

	.c-agenda__description-box {	
		padding: 20px 25px 25px 25px;
		position: relative;
		z-index: 5;

		p:last-child {
			margin-bottom: 0;
		}

		.c-agenda__text {
			overflow: hidden;
			max-height: 93px;
		}

		.text-height {
			margin-bottom: 0;
		}
	}

	.c-agenda__more {
		color: $red;
		cursor: pointer;
		font-size: px-to-rem(12);
		margin-top: 10px;

		svg {
			display: inline-block;
			margin-left: 5px;
			transition: transform 0.4s ease-out;
		}
	}

	.c-agenda__description-box.open {
		.c-agenda__more {
			svg {
				transform: rotate(-180deg);
			}
		}
	}

	

	.c-agenda__time {
		padding: 0 20px;
		text-align: center;
		width: 280px;
	}

	.c-agenda__time-box {
		background: #FFF;
		border-radius: 3px;
		color: $red;
		display: inline-block;
		font-size: px-to-rem(16);
		font-weight: 700;
		padding: 10px 15px;
		position: relative;
		min-width: 80px;
		z-index: 5;
	}

	/* ==== Lines ==== */

		// The grey line
		.c-agenda__day, .c-agenda__time {
			position: relative;

			&:before {
				content: '';	
				background: #979797;
				position: absolute;
				top: 0;
				left: 50%;
				height: 100%;
				width: 1px;
				z-index: 1;
			}
		}

		// The red line
		.c-agenda__time {
			&:after {
				content: '';	
				background: $red;
				position: absolute;
				top: 50%;
				height: 1px;
				width: 50%;
				z-index: 1;
			}
		}

		// Alternate the position of the red line based on odd/even
		.c-agenda__wrapper {
			.c-agenda__row {
				&:nth-child(odd) {
					.c-agenda__time {
						&:after {
							right: 0;
							width: 50%;
						}
					}
				}

				&:nth-child(even) {
					.c-agenda__time {
						&:after {
							left: 0;
						}
					}
				}
			}
		}
	
	/* === END === */
}

.c-agenda__timeline {
	.c-agenda__wrapper {
		table-layout: fixed;
	}

	.c-agenda__row {
		display: table-row;

		&:first-child {
			.c-agenda__cell {
				//padding-top: 50px;
			}
		}

		&:last-child {
			.c-agenda__time {
				&:before {
					height: 50%;
				}
			}
		}

		&:nth-child(odd) {
			.c-agenda__description.left {
				&:before {
					display: none;
				}
			}
		}

		&:nth-child(even) {
			.c-agenda__description.right {
				&:before {
					display: none;
				}
			}
		}
	}

	.c-agenda__cell {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

// Make the agenda full width and re-order elements
@media #{$media-tablet-portrait} {
	.c-agenda {
		.c-agenda__wrapper, .c-agenda__cell {
			display: block;
			width: 100%;
		}

		.c-agenda__row {
			display: flex;
			flex-direction: column;
		}

		.c-agenda__cell {
			padding: 0;
		}
		
		.c-agenda__time {
			padding: 20px 0;
			order: 1;

			// Hide the red line
			&:after {
				display: none;
			}
		}

		.c-agenda__description {
			order: 2;
		}

		.c-agenda__timeline .c-agenda__row:last-child .c-agenda__time:before {
			height: 100%;
		}
	}
}

@media #{$media-mobile-large} {
	.c-agenda {
		.c-agenda__description-box {	
			.c-agenda__text {
				overflow: hidden;
				max-height: 80px;
			}
		}
	}
}
