.c-downloads {
	border-bottom: 1px solid $border-colour;
	margin-bottom: 50px;
	
	.c-downloads__download {
		display: block;
		border-top: 1px solid $border-colour;
		padding: 20px 0;
		position: relative;

		a {
			color: $red;
			text-decoration: none;
		}
	}

	.c-downloads__file-type {
		border: 1px solid $border-colour;
		color: $red;
		padding: 7px 9px;
		font-size: 11px;
		font-weight: 700;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(0, -50%);
		letter-spacing: px-to-rem(1.6);
		text-transform: uppercase;
	}
}