.c-featured-post {	
	margin-bottom: 50px;

	// Shared styles
	.c-featured-post__title {
		font-family: $font-bright;
		font-weight: 700;
	}

	.c-featured-post__image {
		img {
			width: 100%;
		}
	}

	.c-featured-post__link {
		margin-top: 10px;
	}

	.c-featured-post__text {
		margin-bottom: 0;
	}

	// Large style
	&.large {
		.c-featured-post__wrapper {
			display: flex;
			position: relative;
			//overflow: hidden;
			align-items: center;
			align-content: stretch;
			width: 100%;
		}

		.c-featured-post__image {
			position: relative;
			z-index: 2;
			max-width: 65%;
			width: 800px;
		}

		.c-featured-post__content {
			position: relative;
			z-index: 5;
			width: 35%;
		}

		.c-featured-post__content_wrapper {
			background: $red;
			color: #FFF;
			float: right;
			padding: 50px;
			width: 100%;
			min-width: 560px;

			h6 {
				color: #FFF;
				margin-bottom: 5px;
			}
		}

		.c-featured-post__title {
			font-size: px-to-rem(32);
			margin-bottom: 10px;
		}

		.c-featured-post__link {
			a {
				color: #FFF;
			}
		}
	}

	// Small style
	&.small {
		border-top: 1px solid $border-colour;
		border-bottom: 1px solid $border-colour;
		padding: 30px 0;

		.c-featured-post__wrapper {
			display: table;
			width: 100%;
		}

		.c-featured-post__image, .c-featured-post__content {
			display: table-cell;
			vertical-align: top;
		}

		.c-featured-post__image {
			width: 265px;
		}
		
		.c-featured-post__content {
			padding-top: 5px;
			padding-left: 35px;

		}

		.c-featured-post__title {
			font-size: px-to-rem(23);
			margin-bottom: 10px;
		}

		.c-featured-post__text {

		}

		.c-featured-post__link {

		}
	}
}

@media #{$media-tablet-portrait} {
	.c-featured-post {
		// Large style
		&.large {
			.c-featured-post__image {
				max-width: 85%;
			}

			.c-featured-post__content {
				width: 15%;
			}
		}
	}
}

@media #{$media-mobile-large} {
	.c-featured-post {	
		// Small style
		&.small {
			.c-featured-post__wrapper {
				display: block;
			}

			.c-featured-post__image, .c-featured-post__content {
				display: block;
				vertical-align: top;
			}

			.c-featured-post__image {
				margin-bottom: 20px;
				width: 100%;
			}
			
			.c-featured-post__content {
				padding-top: 0;
				padding-left: 0;
			}

			.c-featured-post__title {
				font-size: px-to-rem(23);
				margin-bottom: 10px;
			}

			.c-featured-post__text {

			}

			.c-featured-post__link {

			}
		}

		// Large style
		&.large {
			.c-featured-post__wrapper {
				display: block;
			}

			.c-featured-post__image, .c-featured-post__content {
				display: block;
				width: 100%;
			}

			.c-featured-post__image {
				max-width: none;
				margin: 0 calc(50% - 50vw);
				width: auto;
			}

			.c-featured-post__content {
				margin-top: -35px;
			}

			.c-featured-post__content_wrapper {
				float: none;
				padding: 30px 25px;
				min-width: 0;
			}

			.c-featured-post__title {
				font-size: px-to-rem(18);
			}
		}
	}
}