.c-icon-grid {
	.c-icon-grid__item {
		margin-bottom: 50px;
	}

	.c-icon-grid__icon {
		margin-bottom: 25px;
		height: 63px;

		svg {
			fill: $red;
			max-width: 63px;
		}
	}

	.c-icon-grid__title {
		font-size: px-to-rem(18);
	}

	p {
		line-height: px-to-rem(24);
	}
}

@media #{$media-mobile-large} {
	.c-icon-grid {
		.c-icon-grid__item {
			margin-bottom: 20px;
		}	

		.c-icon-grid__icon {
			height: 40px;

			svg {
				max-height: 40px;
				max-width: 60px;
			}
		}
	}
}