.c-image {
  margin-bottom: 60px;
  text-align: center;

  .c-image__wrapper {
	  display: inline-block;
	  max-width: 100%;
  }

  img {
	  margin: 0 auto;
  }
}

.amp-single {
	.c-image {
		.c-image__wrapper {
			display: block;
		}
	}
}