.c-logo-grid {
	margin-bottom: 30px;

	.c-logo-grid__item {
		margin-bottom: 20px;
	}

	.c-logo-grid__logo {
		width: 120px;

		img {
			padding: 0 10px;
			// padding: 10px;
		}

		a {
			display: block;
		}
	}

	.c-logo-grid__details {
		padding-left: 20px;
	}

	.c-logo-grid__text {
		p {
			font-size: px-to-rem(12);
			line-height: px-to-rem(18);
			margin-bottom: 0;
		}
	}
}