.c-promo-block {
	margin-bottom: 50px;

	.c-promo-block__wrapper {
		display: table;
		width: 100%;
	}

	.c-promo-block__content, .c-promo-block__link {
		display: table-cell;
		vertical-align: middle;
	}

	.c-promo-block__content {
		width: 680px;
	}

	.c-promo-block__box {
		padding: 50px 50px 30px 50px;
		position: relative;
		z-index: 1;

		p {
			max-width: 400px;
		}
	}
	
	.c-promo-block__link {
		padding-top: 100px; // offset becuase of pattern
		padding-right: 5%;
		text-align: right;
	}
}

@media #{$media-tablet-landscape} {
	.c-promo-block {
		.c-promo-block__content {
			width: 470px;
		}

		.c-promo-block__link {
			padding-right: 0;
		}
	}
}


@media #{$media-tablet-portrait} {
	.c-promo-block {
		.c-promo-block__wrapper {
			display: block;
		}

		.c-promo-block__content {
			display: block;
			width: 100%;
		}

		.c-promo-block__link {
			display: none;
		}
	}
}

@media #{$media-mobile-large} {
	.c-promo-block {
		.u-pattern-wrapper {
			padding-top: 30px;
			padding-bottom: 0;

			&:before {
				height: 100%;
			}
		}

		.c-promo-block__box {
			margin: 0 calc(50% - 50vw);
			padding: 30px 20px 20px 20px;
		}
	}
}