.c-text {
	margin-bottom: 50px;

	> ul, > ol {
		width: 80%;
	}

	> ul.button-list[class] {
		margin-left: 0;
		width: 100%;
	}

	iframe {
		min-height: 400px;
	}
}

// On the one column version, indent the text
.c-text__single {
	padding: 0 100px;

	// But not this stuff (> ul:first-child, > ol:first-child)
	blockquote {
		// margin-left: -100px;
	}
}

// Use smaller paragraph text on two column
.c-text__two-column {
	.c-text__heading {
		color: #4A4A4A;
	}

	.left-col {
		padding-right: 20px;
	}

	.right-col {
		padding-left: 20px;
	}

	.c-text__title {
		color: $red;
	}

	// remove margin from last paragraph as it skews margins
	.left-col, .right-col {
		p:last-child {
			margin-bottom: 0;
		}
	}
}

@media #{$media-tablet-landscape} {
	// On the one column version, indent the text
	.c-text__single {
		padding: 0;

		blockquote, ul:first-child, ol:first-child {
			margin-left: 0;
		}
	}
}

@media #{$media-mobile-large} {
	.c-text__two-column {
		.left-col {
			padding-right: 0;
			margin-bottom: 20px;
		}

		.right-col {
			padding-left: 0;
		}
	}
}