.c-video {
	margin-bottom: 50px; 

	svg {
		display: inline-block;
		fill: #000;
		margin-right: 2px;
		vertical-align: top;
	}

	.c-video__details {
		font-size: 12px;
		text-align: center;
		margin-bottom: 20px;

		.divider {
			margin: 0 3px;
		}
	}

	.c-video__wrapper {
		// box-shadow: 0 0 30px 0 rgba(0,0,0,0.10);
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
		max-width: 100%;
	}

	iframe {
		position: absolute; 
		top: 0; 
		left: 0; 
		height: 100%;
		width: 100%; 
	}
}


@media #{$media-mobile-large} {
	.c-video {
		.c-video__details {	
			.detail {
				display: block;
				margin-bottom: 5px;
			}

			.divider {
				display: none;
			}
		}
	}
}