.c-business {
	.c-business__logo {
		display: table;
		margin-bottom: 15px;
		//height: 100%;

		.c-business__image, .c-business__title {
			display: table-cell;
			vertical-align: middle;
		}

		.c-business__image {
			padding-right: 15px;
			height: 100px;
			width: 100px;

			img {
				object-fit: cover;
			}
		}
	}	
}

.alphabet-anchors {
	background: $red;
	padding: 10px 0;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;

	.alphabet-anchors__wrapper {
		display: table;
		table-layout: fixed;
		width: 100%;

		a {
			color: #FFF;
			display: table-cell;
			font-size: px-to-rem(14);
			text-align: center;

			&:hover {
				font-weight: 600;
			}
		}
	}
}

@media #{$media-mobile-large} {
	.alphabet-anchors {	
		display: none;
	}
}