/* ==== Shared styles (grid and list view) ==== */
	.c-feature-grid__item {
		display: inline-block;
		position: relative;

		// "New" flag
		&.flag {
			&:before {
				content: attr(data-label);
				background: $red;
				border-radius: 2px;
				color: #FFF;
				display: block;
				font-size: px-to-rem(10);
				font-weight: 700;
				letter-spacing: px-to-rem(1);
				text-transform: uppercase;
				padding: 10px 10px;
				position: absolute;
				left: -5px;
				top: 40px;
				text-align: center;
				width: 85px;
				z-index: 10;
			}
		}

		&.new {
			&:before {
				content: 'New';
			}
		}

		&.pinned {
			&:before {
				content: 'Featured';
			}
		}

		// Don't output the featured text on events
		&.all-events {
			&.pinned {
				&:before {
					display: none;
				}
			}
		}

		// &.large, &.medium {
		// 	.c-feature-grid__image {
		// 		background-image: none !important;
		// 	}
		// }

		// Our images are background images so we want them covering the whole element
		.c-feature-grid__image {
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		// Have the content inherit their colour from the content div
		span, a {
			color: inherit;
		}

		.c-feature-grid__content {
			a {
				display: block;
			}

			.c-feature-grid__title {
				font-family: $font-bright;
				font-weight: 700;
			}
		}

		// The publish date/event date
		.c-feature-grid__date {
			display: block;
			font-size: px-to-rem(11);
			margin-top: 10px;
		}

		.c-feature-grid__content .post_categories {
			font-size: px-to-rem(11);
			line-height: px-to-rem(16);
			margin-bottom: 0;
			margin-top: 10px;

			.post_categories__icon {
				display: inline-block;
				margin-right: 5px;
				vertical-align: middle;
				max-height: 16px;
				max-width: 16px;

				&.white {
					fill: #FFF;
				}

				&.red {
					fill: $dark-grey;
				}
			}
		}
	}

/* ==== Vacancies Grid Item ==== */


	.c-feature-grid__item.all-vacancies {
		.c-feature-grid__image {
			background-size: contain;
			background-position: top center;
			height: 120px;
			width: 270px;
		}
		
		.c-feature-grid__content {
			.c-feature-grid__title {
				max-width: none;
			}
		}
	}
	

/* ==== List view ==== */

	.c-feature-grid__list-view {
		.c-feature-grid__item {
			display: block;

			&:first-child {
				.c-feature-grid__item-wrapper {
					padding-top: 15px; // match grid
				}
			}
		}
		
		.c-feature-grid__item-wrapper {
			border-bottom: 1px solid $border-colour;
			display: table;
			padding: 30px 0;
			table-layout: fixed;
			width: 100%;
		}

		.c-feature-grid__image {
			height: 160px;
			width: 270px;
		}

		.c-feature-grid__content {
			padding-left: 30px;

			.c-feature-grid__title {
				max-width: 280px;
				@extend .h5;
			}
		}

		.c-feature-grid__content .post_categories {
			.post_categories__icon[class] {
				fill: $red;
			}
		}

		.c-feature-grid__date {
			color: $dark-grey;
		}

		.c-feature-grid__image, .c-feature-grid__content {
			display: table-cell;
		}
	}

/* ==== Grid view ==== */

	.c-feature-grid__grid-view {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;

		.c-feature-grid__item {
			display: flex;
			flex-direction: row;
			padding: 15px; 		// simulates 30px gutter

			&.new {
				&:before {
					left: 5px;
				}
			}

			.c-feature-grid__item-wrapper {
				display: flex;
				flex-direction: column;
				position: relative;
				width: 100%;
			}

			// Small
			&.small {
				width: 25%;

				.c-feature-grid__image {
					padding-top: 57.14%; // Ratio of the image
					margin-bottom: 5px;
				}

				.c-feature-grid__date {
					color: $dark-grey;
				}
			}

			// Medium grid items
			&.medium {
				min-height: 350px; 	// 320 + 30px padding
				width: 25%;

				.c-feature-grid__item-wrapper {
					justify-content: flex-end;
				}

				.c-feature-grid__content {
					padding-left: 20px;
					padding-right: 20px;
					padding-bottom: 20px;
				}
			}

			// Large grid items
			&.large {
				min-height: 350px; 	// 320 + 30px padding
				width: 50%;

				.c-feature-grid__item-wrapper {
					justify-content: center;
				}

				.c-feature-grid__content {
					padding: 30px;
				}

				a {
					font-size: px-to-rem(28);
					line-height: px-to-rem(34);
				}
			}

			&.small, &.medium {
				.c-feature-grid__content {
					padding-top: 10px;
				}
			}

			// Medium/large grid items
			&.medium, &.large {
				.c-feature-grid__content {
					position: relative;
					z-index: 5;
				}

				a:hover {
					color: #FFF;
				}
				
				.c-feature-grid__image {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					z-index: 1;

					&:before {
						content: '';
						background: rgba(0,0,0,0.55);
						position: absolute;
						height: 100%;
						width: 100%;
						z-index: 2;
					}
				}

				.c-feature-grid__content {
					color: #FFF;
				}
			}
		}
	}

	// Topic grid items
	.c-feature-grid.topics {
		&:after {
			content: '';
			background: $border-colour;
			height: 2px;
			width: 100%;
			margin: 0 15px;
		}

		.topic {
			min-height: 260px;
			min-width: 33.33%;
			flex-grow: 1;
			width: 33.33%;

			.c-feature-grid__content {
				a {
					font-size: px-to-rem(24);
				}
			}

			.c-feature-grid__item-wrapper {
				justify-content: flex-start;
			}

			.c-feature-grid__image {
				border-left: 5px solid $red;
			}
		}
	}

@media #{$media-tablet-landscape} {
	.c-feature-grid__grid-view {
		.c-feature-grid__item {
			&.medium {
				min-height: 280px;
			}
		}
	}
}

// On small tablets make everything 50% width, turn medium items into small items and adjust min-height

@media #{$media-tablet-portrait} {
	.c-feature-grid__grid-view {
		.c-feature-grid__item {
			&.small {
				min-height: 0;
				width: 50%;

				.c-feature-grid__image {
					padding-top: 50%; // Ratio of the image
				}
			}

			&.medium {
				width: 50%;
			}

	/*
			&.medium {
				.c-feature-grid__item-wrapper {
					justify-content: flex-start;
				}
				
				.c-feature-grid__image {
					position: relative;
					margin-bottom: 5px;
					height: auto;

					&:before {
						display: none;
					}
				}

				.c-feature-grid__content {
					color: initial;
					padding-left: 0;
					padding-right: 0;
				}

				a {
					color: inherit;
				}
			}

			*/

			&.large {
				min-height: 320px;
			}
		}
	}
}

// Make large items full width

@media #{$media-mobile-large} {
	.c-feature-grid__list-view {
		.c-feature-grid__image[class] {
			height: 150px;
			width: 213px;
		}

		.c-feature-grid__content {
			padding-left: 15px;
		}
	}

	.c-feature-grid__grid-view {
		.c-feature-grid__item {
			&.large {
				width: 100%;
			}
		}
	}
}

@media #{$media-mobile-small} {
	.c-feature-grid__list-view {
		.c-feature-grid__image[class] {
			height: 90px;
			width: 150px;
		}
	}

	.c-feature-grid__grid-view {
		.c-feature-grid__item {
			&.small {
				width: 100%;
			}

			&.medium {
				width: 100%;
			}
		}
	}	
}

.amp-single {
	.c-feature-grid__item {
		margin-left: -0.32rem;
	}
}