.c-filters {
	/* ==== The inital filters bar ==== */

	.c-filters__bar {
		background: $medium-grey;
	}

	.c-filters__bar-wrapper {
		display: table;
		font-size: 16px;
		height: 60px;
		width: 100%;
	}

	.c-filters__bar-label, .c-filters__bar-clear, .c-filters__bar-keyword {
		display: table-cell;
		vertical-align: middle;
	}
	
	// Filters label and toggle
	.c-filters__bar-label {
		height: 100%;
		position: relative;
		width: 110px;

		// This div is needed to make the toggle 100% in IE 11
		.c-filters__bar-label-wrapper {
			display: flex;
			align-items: center;
			height: 100%;
			position: relative;
		}

		.c-filters__toggle {
			background: $red;
			cursor: pointer;
			height: 100%;
			width: 41px;
			position: absolute;
			top: 0;
			right: 0;

			&:before, &:after {
				content: '';
				background: #FFF;
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			&:before {
				height: 2px;
				width: 8px;
			}

			&:after {
				height: 8px;
				width: 2px;
				transition: height 0.3s linear;
			}

			&.open {
				&:after {
					height: 0;
				}	
			}
		}		
	}

	// Filter clear button
	.c-filters__bar-clear {
		background: $dark-grey;
		color: #FFF;
		cursor: pointer;
		font-size: px-to-rem(10);
		padding: 0 25px 0 15px;
		position: relative;
		height: 60px;
		width: 1px;

		&:after {
			content: 'x';
			position: absolute;
			top: 30px;
			right: 15px;
			transform: translate(0, -6px);
		}
	}

	// Keyword field
	.c-filters__bar-keyword {
		position: relative;

		input[type="text"] {
			background: transparent;
			display: block;
			font-size: px-to-rem(16);
			margin-bottom: 0;
			padding: 0 20px 0 55px;
			outline: none;
			height: 100%;
			width: 100%;

			&::placeholder {
				color: $red;
			}
		}

		svg {
			fill: $red;
			position: absolute;
			left: 20px;
			top: 50%;
			transform: translate(0,-50%);
		}
	}

	/* ==== The actual filters ==== */

	.c-filters__filters {
		background: $light-grey;
		display: none;
		padding: 40px 0 50px 0;
	}

	.c-filters__filters-wrapper {
		display: table;
	}

	.c-filters__filter {
		display: table-cell;
		border-left: 1px solid $border-colour;
		padding: 0 0 0 20px;

		&:first-child {
			padding-left: 0;
			border-left: 0;
		}

		.input-wrapper {
			display: inline-block;
			margin-bottom: 15px;
			margin-right: 20px;
			max-width: 170px;

			input[type="text"] {
				color: $dark-grey;
				font-size: px-to-rem(14);
				padding: 12px 15px;
				margin-bottom: 10px;
			}
		}

		.custom-checkbox {
			max-width: 200px;
		}
	}

	.c-filters__filter-scroll {
		padding-right: 30px;
		overflow-y: auto;
		max-height: 210px;	
	}
}

// View and sort
.c-filters__modifiers {
	display: table;
	font-size: px-to-rem(11);
	margin: 35px 0 25px;
	width: 100%;

	.c-filters__modifiers-view, .c-filters__modifiers-sort {
		display: table-cell;
	}

	.c-filters__modifiers-view {
		.view {
			cursor: pointer;
			display: inline-block;
			margin-right: 15px;

			&.selected {
				svg {
					fill: #000;
				}
			}
		}

		span {
			vertical-align: middle;
		}

		svg {
			display: inline-block;
			fill: $red;
			margin-right: 5px;
			height: 20px;
			max-width: 23px;
			vertical-align: middle;
		}
	}

	.c-filters__modifiers-sort {
		text-align: right;

		a {
			color: $red;

			&.selected {
				color: #000;
				border-bottom: 1px solid #000;
			}
		}
	}
}

@media #{$media-tablet-middle} {
	.c-filters {
		.c-filters__filters-wrapper {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}

		.c-filters__filter {
			display: inline-block;
			vertical-align: top;
			border-bottom: 1px solid $border-colour;
			border-left: 0;
			padding: 0 0 25px 0;
			margin-top: 15px;
			width: 50%;

			&:first-child {
				border-top: 0;
				margin-top: 0;
			}
		}
	}
}

@media #{$media-mobile-large} {
	.c-filters {
		.c-filters__filters-wrapper {
			display: block;
		}

		.c-filters__filter {
			width: 100%;
		}

		// Hide calendar view on mobile as it's just a less usable list view

		.c-filters__modifiers {
			.calendar-view {
				display: none;
			}
		}
	}
}