.c-person {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 30px 30px 20px 30px;
	padding-bottom: 70px;
	position: relative;

	.c-person__image {
		background: #b7b7b7;
		margin: 0 auto;
		margin-bottom: 30px;
		border-radius: 50%;
		max-height: 150px;
		max-width: 150px;
		height: auto;
		width: 100%;

		img {
			border-radius: 50%;
			opacity: 0.9;
		}
	}

	.c-person__details {
		width: 100%;

		.links {
			padding: 0 30px 30px 30px;
			position: absolute;
			margin-bottom: 0;
			bottom: 0;
			left: 0;
			width: 100%;
		}
	}
}