.c-timeline {
	background: $medium-grey;
	// padding-top: 70px;
	position: relative;

	&.has-anchors {
		padding-top: 46px;
	}

	.c-timeline__wrapper {
		position: relative;

		&:before {
			content: '';
			background: $red;
			box-shadow: 0 0 30px 0 rgba(0,0,0,0.10);
			transform: translate(-50%, 0);
			position: absolute;
			left: 50%;
			top: 0px;
			width: 4px;
			height: calc(100%);
			z-index: 10;
		}

		&:after {
			content: '';
			background: $red;
			border-radius: 50%;
			box-shadow: 0 0 30px 0 rgba(0,0,0,0.10);
			transform: translate(-50%, -50%);
			position: absolute;
			left: 50%;
			top: 0px;
			height: 20px;
			width: 20px;
			z-index: 15;
		}
	}

	.c-timeline__item {
		display: table;
		position: relative;
		width: 100%;
		table-layout: fixed;

		// &:before {
		// 	content: '';
		// 	background: $border-colour;
		// 	transform: translate(-50%, 0);
		// 	position: absolute;
		// 	left: 50%;
		// 	top: 0;
		// 	width: 4px;
		// 	height: 100%;
		// 	z-index: 10;
		// }

		&.alphanumeric {
			.c-timeline__date-wrapper {
				font-size: px-to-rem(30);
				font-weight: 700;
			}
		}

		&.odd {
			// background: $border-colour;
			
			&.full-width, .col.right {
				// background-color: $light-grey;
			}
		}

		&.odd {
			.col.left {
				background-color: #FFF;
			}
		}

		&.even {
			.col.right {
				background-color: #FFF;
			}
		}

		.c-timeline__date {
			box-shadow: 0 0 30px 0 rgba(0,0,0,0.10);
			background-color: #E6E6E6;
			background-image: url('/wp-content/themes/jerseyfinance/dist/images/bubble.png');
			background-size: cover;
			border-radius: 50%;
			// border: 10px solid rgba(#000, 0.5);
			background-repeat: no-repeat;
			color: $red;
			display: table;
			position: absolute;
			text-align: center;
			height: 110px;
			width: 110px;
			z-index: 20;

			.c-timeline__date-wrapper {
				display: table-cell;
				vertical-align: middle;
			}

			.day {
				font-family: $font-bright;
				font-size: px-to-rem(30);
				font-weight: 600;
			}

			.month {
				font-size: px-to-rem(14);
			}

			.year {
				font-size: px-to-rem(14);
			}
		}

		&.two-col {
			.c-timeline__date {
				transform: translate(50%, -50%);
				top: 130px;
				right: 100%;
			}

			&.odd {
				.c-timeline__date {
					transform: translate(-50%, -50%);
					left: 100%;
					right: auto;
				}
			}
			
			.col {
				display: table-cell;
				position: relative;
				width: 50%;
				vertical-align: middle;

				&:after {
					content: '';
					clear: both;
					display: block;
				}

				.c-timeline__content {
					padding: 80px 25px 100px 25px;
					max-width: 590px; // (1190/2)
					width: 100%;
				}

				&.left {
					.c-timeline__content {
						float: right;
						padding-right: 80px;
					}

					img {
						float: right;
					}
				}

				&.right {
					.c-timeline__content {
						float: left;
						padding-left: 80px;
					}

					img {
						float: left;
					}
				}
			}

			.c-timeline__image {
				// background-color: $border-colour;
				background-size: cover;
				background-position: 50%;
				background-repeat: no-repeat;
				top: 0;
				left: 0;
				// position: absolute;
				// height: 100%;
				// width: 100%;
			}
		}

		&.full-width {
			padding: 220px 0 70px 0;
			text-align: center;

			.c-timeline__date {
				transform: translate(-50%, 0);
				top: 60px;
				left: 50%;
			}

			.c-timeline__feature.image {
				img {
					box-shadow: 0 0 30px 0 rgba(0,0,0,0.10);
					margin: 0 auto;
					position: relative;
					z-index: 15;
				}
			}

			.c-timeline__video {
				box-shadow: 0 0 30px 0 rgba(0,0,0,0.10);
				position: relative;
				padding-bottom: 56.25%;
				height: 0;
				overflow: hidden;
				max-width: 100%;
				z-index: 20;

				iframe {
					position: absolute; 
					top: 0; 
					left: 0; 
					height: 100%;
					width: 100%; 
				}
			}

			.c-timeline__content {
				background: $medium-grey;
				padding: 30px 0;
				position: relative;
				margin: 40px 0;
				z-index: 15;
			}
		}
	}

	.c-timeline__months {
		background: $medium-dark-grey;
		padding: 14px 0;
		text-align: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		transition: transform 0.4s ease-in-out;
		z-index: 5;

		&.fixed {
			position: fixed;
			z-index: 40;

			.scroll-up & {
				transform: translate(0, 81px);
			}
		}

		.c-timeline__month {
			color: #FFF;
			display: inline-block;
			margin: 0 10px;
		}
	}
}


@media #{$media-tablet-portrait} {
	.c-timeline {
		// padding-top: 46px;

		.c-timeline__wrapper {
			&:before {
				display: none;
				// left: 55px;
				// z-index: 30;
			}

			&:after {
				display: none;
				// transform: none;
				// position: absolute;
				// transform: translate(-50%, 0);
				// left: 55px;
				// z-index: 30;
			}
		}

		.c-timeline__item {
	
			&.odd {
				background: #FFF;
			}

			&.odd .c-timeline__date[class], .c-timeline__date[class] {
				transform: none;
				top: 15px;
				right: auto;
				left: 15px;
			}

			.c-timeline__date {
				height: 90px;
				width: 90px;
				z-index: 30;

				.day {
					font-size: px-to-rem(24);
				}

				.month {
					font-size: px-to-rem(12);
				}

				.year {
					font-size: px-to-rem(12);
				}
			}

			&.two-col {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;

				&.even {
					.col.right {
						order: 1;
					}
					.col.left {
						order: 2;
					}
				}

				.col {
					display: block;
					width: 100%;

					.c-timeline__content[class] {
						padding-top: 40px;
						padding-bottom: 50px;
						padding-left: 25px;
						padding-right: 25px;
						max-width: none;
					}
				}

				.c-timeline__feature.image {
					position: relative;
					// min-height: 360px;
				}
			}

			&.full-width {
				padding-top: 0;
				padding-bottom: 0;
				text-align: left;

				.container {
					display: flex;
					flex-wrap: wrap;
					flex-direction: row;
					padding: 0;
				}

				img {
					width: 100%;
				}

				.c-timeline__feature {
					order: 1;
					width: 100%;
				}
				
				.c-timeline__content {
					order: 2;
					padding: 0 20px;
				}
			}
		}
	}
}

@media #{$media-mobile-large} {
	.c-timeline {
		&.has-anchors {
    		padding-top: 120px;
		}
		
		.c-timeline__months {
			overflow-x: auto;

			white-space: nowrap;
			&.fixed {
				.scroll-up & {
					transform: translate(0, 89px);
				}
			}
		}
	}
}
@media #{$media-mobile-small} {
	.c-timeline {
		.c-timeline__months {
			display: none;
			counter-reset: month-counter;

			&.fixed {
				.scroll-up & {
					transform: translate(0, 49px);
				}
			}

			.container {
				display: table;
				table-layout: fixed;
				width: 100%;
			}

			// Swap Jan, Feb, Mar for 1, 2, 3
			.c-timeline__month {
				counter-increment: month-counter;
				display: table-cell;
				margin: 0;

				&:before {
					content: counter(month-counter);
				}
			}

			.month {
				display: none;
			}
		}
	}
}