.pagination {
	margin: 20px 0;
	padding: 20px;
	position: relative;

	&:before {
		content: '';
		background-image: url('../images/pattern2x.png');
		background-size: 28px;
		position: absolute;
		bottom: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}

	.c-button {
		background: $red;
		border-color: $red;
		border-radius: 3px;
		color: #FFF;
		margin-bottom: 0;
	}

	.u-pattern-wrapper & {
		background: #FFF;
		@extend .u-box-shadow-light;
		
		&:before {
			background-image: none;
		}
	}
}