.c-sector-item {
	background: #FFF;
	width: 100%;
	padding: 30px;
	position: relative;

	.c-sector-stats {
		margin-top: 30px;
	}

	img {
		&.center {
			margin: 0 auto;
			max-width: 333px;
			width: 90%;
		}

		&.left {
			margin-right: 20px;
			float: left;
			width: 180px;
		}
	}

	.c-stat__wrapper {
		display: table;
		margin-bottom: 20px;

		.c-stat__icon, .c-stat__text {
			display: table-cell;
			vertical-align: top;
		}
		
		.c-stat__icon {
			svg {
				max-height: 28px;
				max-width: 28px;
			}
		}

		.c-stat__content {
			padding-left: 20px;
		}

		.c-stat__value {
			@extend .h5;
			margin-bottom: 5px;
		}

		.c-stat__text {
			font-family: $font-bright;
			line-height: px-to-rem(22);
			font-size: px-to-rem(14);
			margin-bottom: px-to-rem(20);
		}
	}
}

@media #{$media-tablet-portrait} {
	.c-sector-item {
		img {
			&.left {
				float: none;
				margin: 0 auto;
				width: 90%;
				max-width: 333px;
			}
		}
	}
}

@media #{$media-mobile-small} {
	.c-sector-item {
		.c-stat__wrapper {
			line-height: px-to-rem(20);
		}
	}
}