/* ==== SHARED HEADER STYLES ==== */

	.c-hero-header {
		background-size: cover;
		background-position: center;
		padding: 1px 0 40px 0;
		position: relative;
		z-index: 10;

		&.overlay:before {
			content: '';
			background-image: linear-gradient(-180deg, rgba(0,0,0,0.10) 65%, rgba(0,0,0,0.50) 84%);
			opacity: 0.5;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 5;
		}

		// Background Video
		.video-wrapper {
			overflow: hidden;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 1;

			video, iframe {
				position: absolute;
				left: 0%;
				// top: 50%;
				// transform: translate(0%, -60%);   // Center the video if it is ever wider than the element
				// min-width: 100%;
				// min-height: 100%;
				top: 0;
				object-fit: cover;
				object-position: 0% 50%;
				height: 100%;
				width: 100%;
				z-index: 1;
			}

			// An extra overlay so text is readable
			&:before {
				content: '';
				background: rgba(0,0,0,0.25);
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				z-index: 5;
			}
		}

		// Move the wrapper above the overlay
		.c-hero-header__wrapper {
			position: relative;
			z-index: 10;
		}

		&.image {
			h1 {
				text-shadow: 0 0 20px rgba(#000, 0.2);
			}
		}

		// Text Styles
		h1 {
			font-size: px-to-rem(54);
			font-weight: 700;
			line-height: px-to-rem(66);
			margin-bottom: 15px;
		}

		// Image columns
		.c-hero-header__image {
			img {
				width: 100%;
			}
		}
	}

	.c-header-share {
		display: inline-block;
		margin-top: 20px;
		font-size: px-to-rem(14);
		
		.u-table-cell {
			padding-left: 20px;
			vertical-align: middle;

			&:first-child {
				padding-left: 0;
			}
		}

		svg {
			fill: $red;
		}
	}

	.u-post-date {
		display: block;
		margin-top: 20px;
		font-size: px-to-rem(12);
	}

	.c-hero-header__contact {
		display: inline-block;
		margin-bottom: 20px;
		margin-top: 30px;
		padding-left: 30px;
		vertical-align: top;

		&:first-child {
			padding-left: 0;
		}

		// .c-hero-header__contact-wrapper {
		// 	display: table;
		// 	max-width: 340px;
		// 	table-layout: fixed;
		// 	text-align: left;
		// }

		// .c-hero-header__contact-image, .c-hero-header__contact-text {
		// 	display: table-cell;
		// 	vertical-align: middle;
		// }
		.c-key-contact {
			display: inline-block;
			
			.c-key-contact__image {
				padding-right: 15px;
				width: 95px;

				.c-key-contact__image-wrapper {
					height: 80px;
					width: 80px;
				}
			}

			.c-key-contact__text {
				p {
					font-family: $font-sans;
					font-size: px-to-rem(12);
					line-height: px-to-rem(20);
				}
			}
		}
	}

	/* ==== Vacancies - don't add border radius to contact and don't crop logos ==== */

	.single-all-vacancies {
		.c-hero-header {
			.c-key-contact__image-wrapper[class] {
				background: transparent;
				border-radius: 0;

				img {
					object-fit: contain;
					height: 80px;
					width: 80px;
				}
			}
		}
	}


/* === END === */

@media #{$media-tablet-middle} {
	.c-hero-header {
		h1, .h1 {
			font-size: px-to-rem(40);
			line-height: px-to-rem(48);
		}
	}

	.c-hero-header__contact {
		padding-left: 0;
		width: 100%;
	}
}

@media #{$media-tablet-portrait} {
	.c-hero-header {
		h1, .h1 {
			font-size: px-to-rem(40);
			line-height: px-to-rem(48);
		}
	}
}

@media #{$media-mobile-large} {
	.c-hero-header {
		h1, .h1 {
			font-size: px-to-rem(28);
			line-height: px-to-rem(32);
			margin-bottom: 20px;
		}
	}
}