/* ==== HOME HEADER HERO ==== */
	
	.c-home-header {
		background-position: center;

		*::-webkit-media-controls-panel {
			display: none!important;
			-webkit-appearance: none;
		}

		/* Old shadow dom for play button */

		*::-webkit-media-controls-play-button {
			display: none!important;
			-webkit-appearance: none;
		}

		/* New shadow dom for play button */

		/* This one works! */

		*::-webkit-media-controls-start-playback-button {
			display: none!important;
			-webkit-appearance: none;
		}


		&.overlay {
			&:before {
				background-image: linear-gradient(-180deg, rgba(0,0,0,0) 65%, rgba(0,0,0,0.3) 84%);
			}
		}
		
		.c-hero-header__wrapper {
			display: table;
			padding: 45px 0 35px 0;
			width: 100%;
		}

		.c-hero-header__text, .c-hero-header__image {
			display: table-cell;
			vertical-align: middle;
		}

		.c-hero-header__text {
			padding-top: 15px;
		}

		h1, h2 {
			color: #FFF;
			text-shadow: 0 0 20px rgba(#000, 0.2);
		}

		h2 {
			font-size: px-to-rem(16);
			line-height: px-to-rem(24);
		}

		.c-hero-header__image {
			width: 500px;
		}

		// Animated globe and paths
		.animated-globe {
			position: relative;

			.animated-globe__paths {
				opacity: 0.75;
			}

			.animated-globe__paths:first-child {
				opacity: 0.5;
				filter: blur(2.5px);
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotateY(180deg) rotateX(180deg);
				width: 90%;
			}

			.animated-globe__paths, .animated-globe__paths svg, .animated-globe__paths canvas {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
			}

			.ring {
				position: absolute;
				top: 46%;
				left: 38.2%;
				transform: translate(-50%, -50%);
				fill: #FFF;
			}

			img {
				padding: 2% 2% 2% 6%;
				position: relative;
			}
		}
	}

/* === END HOME HEADER HERO === */

/* ==== NEWS TICKER ==== */

.c-news-ticker {
	color: #FFF;
	position: relative;
	z-index: 10;

	.c-news-ticker__title {
		border-bottom: 1px solid rgba(#D8D8D8, 0.5);
		font-size: px-to-rem(12);
		font-weight: 700;
		letter-spacing: px-to-rem(2);
		padding-bottom: 17px;
		position: relative;
		text-transform: uppercase;
	}	

	.c-news-ticker__items {
		padding: 0 28px;
		margin-top: -1px;
		
		// Used to make Slick slider less jumpy as it initialises
		white-space: nowrap; 
		overflow: hidden;

		&.slick-initialized {
			overflow: visible;
		}
	}

	.c-news-ticker__item {
		display: inline-block;
		font-size: 12px;
		line-height: 18px;
		padding: 18px 2px; // 2px to prevent issues with subpixel rendering
		position: relative;
		width: 25%;
		white-space: normal;

		&:hover {
			&:before {
				content: '';
				background: #FFF;
				position: absolute;
				top: 0;
				height: 1px;
				width: 100%;
				z-index: 11;
			}
		}

		.c-news-ticker__logo {
			background: #FFF;
			height: 36px; // acts as min-height
			width: 36px;
		}

		.c-news-ticker__text {
			padding: 0 15px;
		}
	}
}

/* === END === */

@media #{$media-tablet-middle} {
	.c-home-header {
		.c-hero-header__image {
			width: 400px;
		}
	}

	// .c-news-ticker {	
	// 	.c-news-ticker__item {
	// 		width: 33.333%;
	// 	}
	// }
}

@media #{$media-tablet-portrait} {
	.c-home-header {
		.c-hero-header__image {
			width: 300px;
		}
	}

	// .c-news-ticker {	
	// 	.c-news-ticker__item {
	// 		width: 50%;
	// 	}
	// }
}

@media #{$media-mobile-large} {
	.c-home-header {
		.c-hero-header__text {
			display: block;
			width: 100%;
		}

		.c-hero-header__wrapper {
			padding: 0px 0 35px 0;
		}

		h2 {
			//font-size: px-to-rem(16);
			line-height: px-to-rem(22);
		}

		.c-hero-header__image {
			display: none;
		}
	}

	// .c-news-ticker {	
	// 	.c-news-ticker__item {
	// 		width: 100%;
	// 	}
	// }
}