.c-hero-header.one-column {
	.c-hero-header__text {
		vertical-align: middle;
	}

	p {
		font-family: $font-bright;
		font-size: px-to-rem(18);
		line-height: px-to-rem(28);
		margin: 0 auto;
		max-width: 650px;
	}

	.social {
		margin-top: 25px;

		a {
			display: inline-block;
			margin-right: 15px;
		}

		svg {
			fill: $red;
		}
	}
}

// Increase max width of archive/tax header text
.archive .c-hero-header.image {
	.c-hero-header__text {
		h1, p {
			max-width: 800px;
		}
	}
}

// Make content in video headers white
.c-hero-header.video {
	.c-key-contact {
		p, a, strong, span {
			color: #FFF;
		}
	}

	.c-header-share {
		svg {
			fill: #FFF;
		}
	}
}

.c-hero-header.image, .c-hero-header.video {
	min-height: 610px;
	
	.c-hero-header__wrapper {
		display: table;
		height: 400px;
		width: 100%;
	}

	.c-hero-header__text {
		display: table-cell;
		padding-bottom: 100px; // To stop stats from overlaying if included first
		max-width: none;

		h1, h6 {
			text-shadow: 0px 0px 150px rgba(#000, 0.2);
		}

		h1 {
			max-width: 850px;
		}

		p {
			text-shadow: 0px 0px 100px rgba(#000, 0.2), 0px 0px 40px rgba(#000, 0.2);
			font-weight: 700;
			margin: 0;
			max-width: 560px;
		}
	}
}

@media #{$media-mobile-large} {
	.c-hero-header.image {
		.c-hero-header__wrapper {
			height: auto;
		}
		.c-hero-header__text {
			padding-bottom: 160px; // To stop stats from overlaying if included first
		}
	}
}

@media #{$media-mobile-large} {
	.c-hero-header.one-column {	
		p {
			font-size: px-to-rem(16);
			line-height: px-to-rem(24);
		}
	}
}