body {
	padding-top: 80px;
}

.site-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	transition: transform 0.4s ease-in-out;

	.site-header__wrapper {
		background: $red;
		display: table;
		padding: 20px 25px;
		position: relative;
		z-index: 60;
		width: 100%;
	}

	.site-header__logo, .site-header__actions {
		display: table-cell;
		vertical-align: middle;
	}

	.site-header__logo {
		width: 260px;
	}

	.site-header__actions {
		text-align: right;

		svg {
			display: inline-block;
			vertical-align: middle;
		}

		.action {
			display: inline-block;
			padding: 10px;
			margin-left: 9px;
			vertical-align: middle;

			&:last-child {
				padding-right: 0;
			}
		}
	}
}

// Change behaviour based on user scrolling up/down
body.scroll-down {
	.site-header {	
		transform: translate(0, -100%);
	}
}

@media #{$media-mobile-large} {
	body {
		padding-top: 70px;
	}

	.site-header {
		.site-header__wrapper {
			padding: 15px 15px;
		}
		.site-header__logo {
			width: 190px;
		}
	}
}

@media #{$media-mobile-small} {
	body {
		padding-top: 48px;
	}

	.site-header {
		.site-header__wrapper {
			padding: 5px 15px;
		}

		.site-header__logo {
			width: 130px;
		}

		.site-header__actions {
			.action {
				margin-left: 0px;
			}
		}
	}
}