.site-overlay {
	background: rgba(#000, 0.6);
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 90;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.4s ease-out, visibility 0.4s ease-out;
	transition-delay: 0.4s;

	&.open {
		visibility: visible;
		opacity: 1;
		transition-delay: 0s;
	}
}

.menu-toggle, .site-search-toggle {
	cursor: pointer;
}

.site-menu {
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	opacity: 0;
	height: 100%;
	width: 100%;
	z-index: 100;
	overflow-x: hidden;
	overflow-y: auto;
	transition: opacity 0s linear, visibility 0s linear;
	transition-delay: 0.3s;

	.site-menu__wrapper {
		background: #FFFFFF;
		cursor: default;
		overflow: visible;
		float: right;
		position: relative;
		transform:  translate3d(100%,0,0);
		transition: transform 0.3s ease-out, width 0.3s ease-out;
		max-width: 320px;
		width: 90%;
		min-height: 100%;
		z-index: 110;
	}

	&.open {
		visibility: visible;
		opacity: 1;
		transition: none;
		transition-delay: 0s;

		.site-menu__wrapper {
			transform: translate3d(0,0,0);
			transition-delay: 0.3s;
		}
	}

	.site-menu__header {
		display: table;
		padding: 0 30px;
		height: 80px;
		width: 100%;
		line-height: 80px;

		.c-account-menu, .site-menu__close {
			display: table-cell;
			width: 50%;
			vertical-align: middle;
		}

		.c-account-menu {
			padding-left: 0;
		}

		.site-menu__close {
			svg {
				cursor: pointer;
				float: right;
			}
		}
	}

	.site-menu__footer {
		padding: 30px 15px;
		text-align: center;

		a {
			display: inline-block;
			margin: 0 10px;
		}

		svg {
			fill: $red;
		}
	}

	// Make the login component red in the site menu
	.login {
		fill: $red;
	}

	.c-account-menu .c-account-menu__link-text {
		color: $red;
	}

	nav {
		// Dropdown arrows
		.expand {
			display: none;

			svg {
				fill: $red;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: fill 0.2s linear, transform 0.2s linear;
			}

			&.active {
				svg {
					transform: translate(-50%, -50%) rotate(180deg);
				}
			}

			&:hover {
				svg {
					fill: #000;
				}
			}
		}	

		// Tooltips
		.description {
			background: $red;
			box-shadow: 2px -2px 4px 0 rgba(0,0,0,0.50);
			opacity: 0;
			color: #FFF;
			font-size: 12px;
			font-family: $font-sans;
			padding: 15px;
			position: absolute;
			pointer-events: none;
			right: 100%;
			top: 50%;
			transform: translate(10px, -50%);
			width: 185px;
			transition: opacity 0.6s ease-out;
			z-index: 10;

			&:after {
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 4px 0 4px 6px;
				border-color: transparent transparent transparent $red;
				position: absolute;
				left: 100%;
				top: calc(50% - 4px);

			}
		}	

		// Active page highlighting
		.current-menu-item, .current-menu-ancestor {
			> a {
				color: $red;
			}
		}

		// All levels
		ul {
			list-style: none;

			li {
				position: relative;

				a {
					display: inline-block;
					position: relative;
					text-decoration: none;
					width: 100%;

					&:hover {
						color: $red;
						background: $light-grey;
					}
				}

				&.menu-item-has-children {
					> a {
						border-bottom: 1px solid $border-colour;
					}

					> .expand {
						border-left: 1px solid $border-colour;
						background: #FFF;
						cursor: pointer;
						display: block;
						position: absolute;
						top: 0;
						right: 0;
						transition: background 0.2s linear;
						z-index: 10;

						&:hover {
							background: $light-grey;
						}
					}
				}
			}
		}

		// Top level links only
		> ul {
			border-top: 1px solid $border-colour;
			
			> li {		
				// border-top: 1px solid $border-colour;

				> a {
					border-bottom: 1px solid $border-colour;
					color: $red;
					font-family: $font-bright;
					padding: 19px 30px;

					&:hover {
						.description {
							opacity: 1;
						}
					}
				}
				
				&.menu-item-has-children > .expand {
					height: 56px;
					width: 56px;
				}
			}
		}

		// Child nav only
		> ul > li > ul {
			// transform: translate(0, -7px);
			// padding-top: 10px;
			// margin-bottom: 10px;
		}

		// Child navs
		ul ul {
			border-bottom: 1px solid $border-colour;
			display: none;

			a {
				color: #000; 
				font-size: 14px;
				padding: 12px 30px;
			}

			li {
				&.menu-item-has-children > .expand {
					height: 40px;
					width: 40px;

					svg.arrow {
						height: 7px;
						width: 12px;
					}
				}
			}
		}

		ul ul ul {
			// margin-top: 5px;
			// padding-left: 10px;

			li {
				a {
					padding-left: 40px;
				}
			}
		}
	}

	/* ==== Show current page section on load ==== */

	.current-menu-ancestor, .current-menu-item {
		> .expand svg {
			transform: translate(-50%, -50%) rotate(180deg);
		}

		> ul {
			display: block;
			
		}
	}
	
	.expand.reset-rotate {
		svg {
    		transform: translate(-50%, -50%) rotate(0deg);
		}
	}
}

@media #{$media-mobile-large} {
	.site-menu {
		nav {
			.description {
				display: none;
			}
		}
	}
}