.c-notifications {
	margin-bottom: 60px;

	.notification {
		background: $red;
		// display: none;
		margin-bottom: 10px;
		padding: 15px 40px;
		position: relative;
		width: 100%;

		&.show {
			display: block;
		}

		.alert {
			display: inline-block;
			margin-top: 4px;
			margin-right: 10px;
			position: absolute;
			top: 15px;
			left: 15px;
			vertical-align: top;
		}

		p, a {
			color: #FFF;
		}

		p {
			display: inline-block;
			font-size: 12px;
			line-height: 18px;
			margin-bottom: 10px;
		}

		a {
			text-decoration: underline;
		}

		.close {
			cursor: pointer;
			position: absolute;
			top: 15px;
			right: 15px;
			fill: #FFF;
			height: 12px;
			width: 12px;
		}
	}
}