.post-header {
	background: $light-grey;
	position: fixed;
	visibility: hidden;
	top: 0;
	left: 0;
	// height: 80px;
	min-height: 80px;
	width: 100%;
	z-index: 40; // below regular header
	transition: transform 0.4s ease-in-out, visibility 0.4s ease-in-out;
	transform: translate(0, -100%);

	// Progress meter
	.read-progress {
		position: absolute;
		left: 0;
		top: 0;
		height: 4px;
		width: 100%;

		.progress {
			background: $red;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 34%;
			transition: width 0.3s ease-out;
			z-index: 5;
		}
	}

	.post-header__wrapper {
		display: table;
		padding: 22px 25px 14px 25px; // more padding top to account for progress meter
		width: 100%;
		// table-layout: fixed;

		.post-header__title, .post-header__anchors, .post-header__actions {
			display: table-cell;
			vertical-align: middle;
		}
	}

	.post-header__title {
		font-size: 14px;
	}

	.post-header__anchors {
		text-align: right;
		white-space: nowrap;

		&:after {
			content: '';
			background: $border-colour;
			height: 100%;
			width: 1px;
			position: absolute;
			top: 0;
			right: 205px; // 180 + 25px padding
		}

		.post-header__anchors-wrapper {
			display: inline-block;
			padding-right: 26px;
			position: relative;

			&.has-overflow {
				.expand {
					display: inline-block;
				}
			}
		}

		// used to show anchors that don't fit
		.expand {
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='3px' height='16px' viewBox='0 0 3 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23CB181C'%3e%3ccircle cx='1.5' cy='1.5' r='1.5'%3e%3c/circle%3e%3ccircle cx='1.5' cy='8' r='1.5'%3e%3c/circle%3e%3ccircle cx='1.5' cy='14.5' r='1.5'%3e%3c/circle%3e%3c/svg%3e");
			background-position: 80% 50%;
			background-repeat: no-repeat;
			cursor: pointer;
			display: none;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translate(0, -50%);
			height: 38px;
			width: 20px;
			vertical-align: middle;

			ul {
				background: #FFF;
				box-shadow: 0 0 30px 0 rgba(0,0,0,0.10);
				cursor: default;
				visibility: hidden;
				opacity: 0;
				position: absolute;
				top: 100%;
				right: -10px;
				transform: translate(0, 50px);
				transition: opacity 0.1s linear, visibility 0.15s linear, transform 0.1s ease-out;
				width: 140px;

				li {
					display: block;
					padding: 5px 15px;
					margin-bottom: 20px;

					&:first-child {
						margin-top: 10px;
						margin-bottom: 0px;
					}
				}
			}

			&:hover {
				ul {
					list-style-type: none;
					text-align: left;
					transform: translate(0, 0);
					opacity: 1;
					visibility: visible;
					transition: opacity 0.15s linear, visibility 0.15s linear, transform 0.15s ease-out;
				}
			}
		}

		.post-header__anchors-container {
			display: inline-block;
			text-align: right;
		}
		
		a {
			margin-left: 15px;
			font-size: px-to-rem(12);

			&:first-child {
				margin-left: 0;
			}
		}
	}
	
	// Links on right hand side
	.post-header__actions {
		white-space: nowrap;
		text-align: right;
		width: 180px;

		.action {
			cursor: pointer;
			display: inline-block;
			padding: 10px 0;
			margin-left: 25px;
			vertical-align: middle;

			.action__link {
				color: $red;
				display: inline-block;
				font-size: 12px;
				margin-right: 5px;
				vertical-align: middle;
			}
		}
	}

	// Save post link
	.post-header__save-post {
		.save-dot {
			border: 2px solid $red;
			border-radius: 50%;
			display: inline-block;
			position: relative;
			height: 16px;
			width: 16px;
			vertical-align: middle;

			&:before {
				content: '';
				background: $red;
				border-width: 1px;
				border-style: solid;
				border-color: $red;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				height: 6px;
				width: 6px;
				transition: height 0.05s ease-out, width 0.05s ease-out;
			}
		}

		&:hover {
			.save-dot:before {
				animation: dotPulse 2.5s infinite linear;

			}
		}
	}

	// Post sharing link and dropdown
	.post-header__sharing {
		position: relative;

		.arrow {
			transition: fill 0.2s linear, transform 0.2s linear;
		}

		.arrow {
			display: inline-block;
		}

		&.active {
			.arrow {
				transform: translate(-50%, -50%) rotate(180deg);
			}
		}

		ul {
			background: #FFF;
			box-shadow: 0 0 30px 0 rgba(0,0,0,0.10);
			visibility: hidden;
			cursor: default;
			opacity: 0;
			padding: 10px 0;
			position: absolute;
			top: 100%;
			right: 0;
			transform: translate(0, 50px);
			transition: opacity 0.1s linear, visibility 0.15s linear, transform 0.1s ease-out;

			li {
				list-style: none;
				padding: 10px 0;
				
				a {
					display: block;
					width: 70px;
					text-align: center;
				}
			}

			svg {
				display: inline-block;
				fill: $red;
			}
		}

		&:hover {
			ul {
				transform: translate(0, 0);
				opacity: 1;
				visibility: visible;
				transition: opacity 0.15s linear, visibility 0.15s linear, transform 0.15s ease-out;
			}
		}
	}
}

body.scroll-down {
	.post-header {
		visibility: visible;
		transform: translate(0, 0);
	}
}

@keyframes dotPulse {
	0% {
		height: 7px;
		width: 7px;
	}

	10% {
		opacity: 1;
		height: 14px;
		width: 14px;
	}

	30% {
		opacity: 0;
	}

 	90% {
		opacity: 0;
		height: 0px;
		width: 0px;
	}

	100% {
		opacity: 1;
		height: 7px;
		width: 7px;
	}
}

@media #{$media-mobile-large} {
	.post-header {
		.post-header__anchors {
			&:after {
				right: 180px;
			}

			.post-header__anchors-wrapper {
				width: 0;
			}
		}
	}
}