.c-footer-contact {
	.c-key-contact {
		background: #FFF;
		box-shadow: 0 0 30px 0 rgba(0,0,0,0.10);
		position: relative;
		padding: 30px;
		margin-bottom: 80px;
		max-width: 460px;
		z-index: 10;
	}
}

@media #{$media-mobile-small} {
	.c-footer-contact {
		.c-key-contact__box {
			padding: 30px 20px;
		}
	}
}