.c-membership-table {
	.u-table-row {
		.u-table-cell {
			border-bottom: 1px solid $border-colour;
			padding: 20px 5px;
			text-align: center;
			width: 50px;

			&:first-child {
				text-align: left;
				padding-left: 20px;
				width: auto;
			}
		}

		&:nth-child(even) {
			background: $light-grey;
		}

		.tick {
			display: inline-block;
			fill: $red;
			height: 20px;
			width: 20px;
		}
	}
}