.c-world-map {
	margin-bottom: 50px;
	position: relative;

	&:before {
		content: '';
		background-image: url('../images/pattern2x.png');
		background-size: 28px;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
		height: 40%;
		width: 100%;
	}

	img {
		position: relative;
	}

	.c-world-map__wrapper {
		position: relative;
	}

	.ring {
		fill: $red;
		height: 80px;
		width: 80px;
		transform: scale(1.7); // Make it fit our <a> tag better as we have to do the pulse at a smaller scale to avoid clipping
	}

	.location {
		border-radius: 50%;
		display: block;
		overflow: hidden;
		position: absolute;
		transform: translate(-50%, -50%);
		z-index: 10;

		&.africa {
			left: 51.3%;
			top: 58.4%;
		}

		&.india {
			left: 66%;
			top: 50%;
		}

		&.gulf-region {
			left: 57.5%;
			top: 50%;
		}

		&.europe {
			left: 47.8%;
			top: 34.9%;
		}

		&.greater-china {
			left: 74%;
			top: 45%;
		}

		&.north-america {
			left: 17%;
			top: 40%;
		}

		&.united-kingdom {
			left: 43.5%;
			top: 32.5%;
		}
	}
}

@media #{$media-tablet-portrait} {
	.c-world-map {
		.ring {
			height: 50px;
			width: 50px;
		}
	}
}