.custom-checkbox {
   display: block;
   margin-bottom: 10px;

   label {
      cursor: pointer;
      display: inline-block;
      font-size: px-to-rem(14);
      line-height: px-to-rem(20);
		position: relative;
		padding-left: 25px;
		vertical-align: top;

		&:before {
			content: '';
			border: 1px solid $red;
			display: inline-block;
			margin-right: 8px;
			height: 14px;
			width: 14px;
			vertical-align: middle;
			pointer-events: none;
			transition: background 0.2s ease-out;
			position: absolute;
			left: 0;
			top: 2px;
		}
   }

   input {
      display: none;
   }

   input:checked + label:before {
      background: $red;
   }
}