.wp-comments {
	small {
		font-size: inherit;
	}
	
	.gform_wrapper {
		border-bottom: 1px solid $border-colour;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		margin-top: 20px;

		.comment-form-comment, .form-submit, .logged-in-as {
			
		}

		.comment-form-comment 	{ order: 1; }
		.form-submit 				{ order: 2; }
		.logged-in-as 				{ order: 3; }
	}

	.comment-list {
		padding-left: 0;

		li {
			border-bottom: 1px solid $border-colour;
			padding-bottom: 15px;
			margin-bottom: 15px;
		}
	}

	.comment-meta {
		margin-bottom: 10px;
	}

	.comment-body {
		margin-bottom: 20px;
	}
}

#cancel-comment-reply-link {
	font-weight: 600;
}