.c-grid {
   display: block;
   margin-left: -15px;
   margin-right: -15px;
   min-width: 100%; // because technically the grid is (100% + 30px)

   // All col classes
   div[class*='c-grid__col-'], li[class*='c-grid__col-'] {
      display: inline-block;
      padding-left: 15px;
      padding-right: 15px;
      margin-right: -0.15rem;
      vertical-align: top;
   }

	// For equal height columns
	&.flex {
		display: flex;
		flex-wrap: wrap;

		&.center {
			align-items: center;
		}

		div[class*='c-grid__col-'], li[class*='c-grid__col-'] {
			display: inline-flex;
			align-self: flex-start;
			flex-direction: row;
			flex-wrap: wrap;
		}
	}

	&.large-gutter {
		margin-left: -35px;
		margin-right: -35px;

		// All col classes
		div[class*='c-grid__col-'], li[class*='c-grid__col-'] {
			padding-left: 35px;
			padding-right: 35px;
		}	
	}

   &__col-1 { width: 8.333%; }
   &__col-2 { width: 16.666%; }
   &__col-3 { width: 25%; }
   &__col-4 { width: 33.333%; }
   &__col-5 { width: 41.666%; }
   &__col-6 { width: 50%; }
   &__col-7 { width: 58.333%; }
   &__col-8 { width: 66.666%; }
   &__col-9 { width: 75%; }
   &__col-10 { width: 83.333%; }
   &__col-11 { width: 91.666%; }
   &__col-12 { width: 100%; }
}

@media #{$media-tablet-middle} {
   .c-grid.ontablet-middle-make-col-4 {
      .c-grid {
         &__col-1, &__col-2, &__col-3, &__col-4, &__col-5, &__col-6, &__col-7, &__col-8, &__col-9, &__col-10, &__col-11 { width: 33.333%; }
      }
   }
   .c-grid.ontablet-middle-make-col-6 {
      .c-grid {
         &__col-1, &__col-2, &__col-3, &__col-4, &__col-5, &__col-6, &__col-7, &__col-8, &__col-9, &__col-10, &__col-11 { width: 50%; }
      }
   }
   .c-grid.ontablet-middle-make-col-12 {
      .c-grid {
         &__col-1, &__col-2, &__col-3, &__col-4, &__col-5, &__col-6, &__col-7, &__col-8, &__col-9, &__col-10, &__col-11 { width: 100%; }
      }
   }
}

@media #{$media-tablet-portrait} {
   .c-grid.ontablet-portrait-make-col-4 {
      .c-grid {
         &__col-1, &__col-2, &__col-3, &__col-4, &__col-5, &__col-6, &__col-7, &__col-8, &__col-9, &__col-10, &__col-11 { width: 33.333%; }
      }
   }
   .c-grid.ontablet-portrait-make-col-6 {
      .c-grid {
         &__col-1, &__col-2, &__col-3, &__col-4, &__col-5, &__col-6, &__col-7, &__col-8, &__col-9, &__col-10, &__col-11 { width: 50%; }
      }
   }
   .c-grid.ontablet-portrait-make-col-12 {
      .c-grid {
         &__col-1, &__col-2, &__col-3, &__col-4, &__col-5, &__col-6, &__col-7, &__col-8, &__col-9, &__col-10, &__col-11 { width: 100%; }
      }
   }
}

@media #{$media-mobile-large} {
   .c-grid {
      margin-left: -5px;
      margin-right: -5px;

      div[class^='c-grid__col-'] {
         padding-left: 5px;
         padding-right: 5px;         
      }
   }

   .c-grid.onmobile-make-col-6 {
      .c-grid {
         &__col-1, &__col-2, &__col-3, &__col-4, &__col-5, &__col-6, &__col-7, &__col-8, &__col-9, &__col-10, &__col-11 { width: 50%; }
      }
   }
   .c-grid.onmobile-make-col-12 {
      .c-grid {
         &__col-1, &__col-2, &__col-3, &__col-4, &__col-5, &__col-6, &__col-7, &__col-8, &__col-9, &__col-10, &__col-11 { width: 100%; }
      }
   }
}

.amp-single {
	.c-grid {
		div[class*='c-grid__col-'], li[class*='c-grid__col-'] {
			margin-right: -0.3em;
		}
	}
}