.input-wrapper {
	position: relative;

	&.icon-right {
		svg {
			right: 10px;
		}

		input {
			padding-right: 35px;
		}
	}

	&.icon-left {
		svg {
			left: 10px;
		}

		input {
			padding-left: 35px;
		}
	}

	svg {
		fill: $red;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		max-height: 18px;
		max-width: 18px;
	}

	input {
		margin-bottom: 0;
		width: 100%;
	}
}