.c-key-contact {
	.c-key-contact__wrapper {
		display: table;
		table-layout: fixed;
	}

	.c-key-contact__image, .c-key-contact__text {
		display: table-cell;
		vertical-align: middle;
	}

	.c-key-contact__image {
		padding-right: 20px;
		width: 140px;

		.c-key-contact__image-wrapper {
			overflow: hidden;
			height: 120px;
			width: 120px;

			&.rounded {
				background: #b7b7b7;
				border-radius: 50%;
			}
		}

		img {
			height: 100%;
			width: 100%;
			object-fit: contain;
			opacity: 0.9;
			width: 100%;
		}
	}

	.c-key-contact__text {
		text-align: left;
	}

	a[href^="mailto:"] {
		word-break: break-all;
		line-height: normal;
	}

	p {
		font-size: px-to-rem(12);
		line-height: px-to-rem(20);
		margin-bottom: 0;
	}
}

@media #{$media-mobile-small} {
	.c-key-contact {
		.c-key-contact__image {		
			width: 80px;
		}
	}
}