.membership-logo {
	padding-bottom: 15px;

	a {
		display: block;
		box-shadow: 0 0 30px 0 rgba(0,0,0,0.10);
		padding-top: 100%;
		position: relative;
		width: 100%;		

		img {
			padding: 10px;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-height: 100%;
			max-width: 100%;
		}
	}
}

img.square-logo {
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.10);
	padding: 10px;
	height: 100px;
	width: 100px;
	object-fit: contain;
	object-position: 50% 50%;
}

@media #{$media-desktop} {
	.c-image-text__images.membership-logos[class] {
		transform: none;
	}
}

@media #{$media-tablet-middle} {
	.c-image-text__images.membership-logos {
		margin-left: 0;
		margin-right: 0;
	}
}