* {
	border: 0;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
  -webkit-font-smoothing: antialiased;	// need?
  -moz-osx-font-smoothing: grayscale; 	// need?
}

:focus {
	outline: none;
}

body, *:before, *:after {
	font-family:'Lucida Sans W01';
}

body {
	overflow-x: hidden; // prevent things like our large gutter grid from creating horizontal scrollbars
}

.site-wrapper {
	//	position: relative;
	//	z-index: 1;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

iframe {
	width: 100%;
}