h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	display: block;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $font-bright;
	font-weight: 700;
}

h1, .h1 {
	color: $red;
	font-size: px-to-rem(52);
	line-height: px-to-rem(61);
	margin-bottom: 30px;
}

h2, .h2 {
	font-size: px-to-rem(38);
	line-height: px-to-rem(46);
	margin-bottom: 25px;
}

h3, .h3 {
	font-size: px-to-rem(33);
	line-height: px-to-rem(48);
	margin-bottom: 30px;
}

h4, .h4 {
	font-size: px-to-rem(22);
	line-height: px-to-rem(36);
	margin-bottom: 20px;
}

h5, .h5 {
	font-size: px-to-rem(17);
	font-weight: 700;
	line-height: px-to-rem(22);
	margin-bottom: 15px;
}

h6, .h6 {
	color: $dark-grey;
	font-size: px-to-rem(10);
	font-weight: 700;
	letter-spacing: px-to-rem(1.33);	
	margin-bottom: 15px;
	text-transform: uppercase;
}

a {
	color: $red;
	text-decoration: none;
}

.destyle-heading {
	color: $dark-grey;
	font-family: $font-sans;
	font-size: px-to-rem(16);
	font-weight: 400;
	line-height: px-to-rem(22);
	margin-bottom: 0px;
}

.main-content {

	a {
		transition: 0.2s ease-out;

		&:hover {
			color: darken($red, 20%);
		}
	}

	p, ul li, ol li {
		line-height: px-to-rem(26);
	}

	p {
		margin-bottom: 25px;
	}

	// Global List Styles

	ul, ol {
		padding-left: 30px;
		margin: 40px 0;

		li {
			margin-top: 35px;

			&:first-child {
				margin-top: 0;
			}
		}

		ul {
			li {
				margin-bottom: 20px;
			}
		}
	}

	// Unordered List
	ul {
		list-style: none;
		counter-reset: list-item-counter;

		li {
			counter-increment: list-item-counter;
			padding-left: 20px;
			position: relative;

			&:before {
				content: '';
				background: #000;
				position: absolute;
				top: 10px;
				left: 0;
				height: 7px;
				width: 7px;
			}
		}
	}

	ul > li > ul li {
		:before {
			background: $dark-grey;
		}
	}

	// Numbered List
	ol {
		list-style: none;
		counter-reset: list-item-counter;

		li {
			counter-increment: list-item-counter;
			padding-left: 30px;
			position: relative;

			&:before {
				content: counter(list-item-counter);
				font-weight: 700;
				position: absolute;
				top: 1px;
				left: 0;
			}
		}
	}

	// Checklist style
	ul.checklist {
		padding-left: 0;
		margin: 30px 0;

		li {
			background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='15px' height='11px' viewBox='0 0 15 11' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg id='Member-Dashboard' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='Membership' transform='translate(-483.000000, -630.000000)' fill='%23CB181C' fill-rule='nonzero'%3e%3cg id='noun_tick_953515' transform='translate(483.000000, 630.000000)'%3e%3cpath d='M14.6674877,1.91466978 L6.02216749,10.5306838 C5.57881773,10.9725307 4.87684729,10.9725307 4.43349754,10.5306838 L0.332512315,6.44360023 C-0.110837438,6.00175336 -0.110837438,5.30216248 0.332512315,4.8603156 C0.775862069,4.41846873 1.47783251,4.41846873 1.92118227,4.8603156 L5.22783251,8.15575687 L13.0788177,0.331385155 C13.5221675,-0.110461718 14.2241379,-0.110461718 14.6674877,0.331385155 C15.1108374,0.773232028 15.1108374,1.47282291 14.6674877,1.91466978 Z' id='Shape'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
			background-repeat: no-repeat;
			background-position: 0 4px;
			color: $dark-grey;
			font-size: px-to-rem(14);
			line-height: px-to-rem(22);
			padding-left: 27px;
			margin-top: 10px;
			
			&:before {
				display: none;
			}
		}
	}

	// A list with borders and buttons
	ul.button-list {
		border-bottom: 1px solid $border-colour;
		padding-left: 0;

		li {
			border-top: 1px solid $border-colour;
			padding: 17px 0;
			margin-top: 0;
			width: 100%;

			&:first-child {
				border-top: 0;
			}

			.u-table-cell {
				padding-left: 25px;
				vertical-align: middle;

				&:first-child {
					padding-left: 0;
				}

				&.logo {
					width: 100px;

					a {
						display: block;
					}
				}
			}

			&:after {
				content: '';
				clear: both;
				display: block;
			}

			&:before {
				display: none;
			}

			.c-button {
				float: right;
				margin-bottom: 0;
			}
		}
	}

	p, ul, ol {
		a {
			color: $red;
			transition: 0.2s ease-out;

			&:hover {
				color: darken($red, 20%);
			}
		}	
	}

	blockquote, blockquote p {
		font-family: $font-bright;
		font-size: px-to-rem(18);
		font-weight: 700;
		line-height: px-to-rem(26);
		margin: 65px 0;
	}

	hr {
		background: $border-colour;
		margin: 40px 0;
		height: 1px;
		width: 100%;
	}
}

@media #{$media-tablet-portrait} {
	h1, .h1 {
		font-size: px-to-rem(40);
		line-height: px-to-rem(61);
		margin-bottom: 30px;
	}

	h2, .h2 {
		font-size: px-to-rem(38);
		line-height: px-to-rem(46);
		margin-bottom: 25px;
	}

	h3, .h3 {
		font-size: px-to-rem(32);
		line-height: px-to-rem(40);
		margin-bottom: 20px;
	}

	h4, .h4 {
		font-size: px-to-rem(26);
		line-height: px-to-rem(34);
		margin-bottom: 20px;
	}

	h5, .h5 {
		font-size: px-to-rem(16);
		margin-bottom: 15px;
	}

	h6, .h6 {
		font-size: px-to-rem(10);
		font-weight: 700;
		letter-spacing: px-to-rem(2);	
		margin-bottom: 15px;
		text-transform: uppercase;
	}

	.main-content {
		blockquote, blockquote p {
			margin: 25px 0;
		}
	}
}


@media #{$media-mobile-large} {
	h1, .h1 {
		font-size: px-to-rem(26);
		line-height: px-to-rem(30);
		margin-bottom: 20px;
	}

	h2, .h2 {
		font-size: px-to-rem(24);
		line-height: px-to-rem(30);
		margin-bottom: 20px;
	}

	h3, .h3 {
		font-size: px-to-rem(18);
		line-height: px-to-rem(26);
		margin-bottom: 20px;
	}

	h4, .h4 {
		font-size: px-to-rem(18);
		line-height: px-to-rem(34);
		margin-bottom: 20px;
	}

	h6, .h6 {
		font-size: px-to-rem(10);
		font-weight: 700;
		letter-spacing: px-to-rem(2);	
		margin-bottom: 15px;
		text-transform: uppercase;
	}

	.main-content {
		p {
			font-size: px-to-rem(14);
			line-height: px-to-rem(22);
			margin-bottom: 20px;
		}

		// A list with borders and buttons
		ul.button-list {
			li {
				display: block;

				.u-table-cell {
					display: block;
					padding-left: 0;
					margin-top: 20px;
					vertical-align: middle;

					&:first-child {
						margin-top: 0;
					}
				}

				.c-button {
					float: none;
				}
			}
		}
	}
}