// Colours
$red: 				#CB181C;
$light-grey: 		#F6F5F4;
$medium-grey: 		#F0EFEE;
$medium-dark-grey: #B1B3B6;
$dark-grey:			#4A4A4A;
$border-colour:	#DBDBDB;

// Gradients 
$red-gradient: 	linear-gradient(0deg, $red 0%, #A70E0E 99%);
$white-gradient: 	linear-gradient(0deg, #F8F7F8 0%, #B1B3B6 97%);

// Fonts
$font-bright: 'Lucida Bright W01';
$font-sans: 'Lucida Sans W01';

// Media Queries
$media-desktop:            'screen and (max-width: 1300px)';
$media-tablet-landscape:  	'screen and (max-width: 1080px)';
$media-tablet-middle:  		'screen and (max-width: 991px)';
$media-tablet-portrait:    'screen and (max-width: 770px)';
$media-mobile-large:       'screen and (max-width: 600px)';
$media-mobile-small:       'screen and (max-width: 400px)';