.site-search {
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	opacity: 0;
	height: 100%;
	width: 100%;
	z-index: 100;
	overflow-x: hidden;
	overflow-y: auto;
	transition: opacity 0s linear, visibility 0s linear;
	transition-delay: 0.3s;

	.site-search__wrapper {
		background: #FFFFFF;
		cursor: default;
		overflow: visible;
		float: right;
		position: relative;
		transform:  translate3d(100%,0,0);
		transition: transform 0.6s ease-out, width 0.6s ease-out;
		max-width: 1260px;
		width: 90%;
		min-height: 100%;
		z-index: 110;
	}

	&.open {
		visibility: visible;
		opacity: 1;
		transition: none;
		transition-delay: 0s;

		.site-search__wrapper {
			transform: translate3d(0,0,0);
			transition-delay: 0.3s;
		}
	}

	// Search box and close icon

	.site-search__header {
		border-bottom: 1px solid $border-colour;
		display: table;
		padding: 0 30px 0 0;
		height: 80px;
		width: 100%;
		line-height: 80px;

		.site-search__search-wrapper, .site-search__close {
			display: table-cell;
			vertical-align: middle;
			height: 100%;
			width: 100%;
		}

		.site-search__search-wrapper {
			.input-wrapper {
				position: relative;
				height: 100%;;
				width: 100%;
			}

			input {
				color: $red;
				border-right: 1px solid $border-colour;
				font-family: $font-bright;
				font-size: px-to-rem(16);
				padding: 0 30px 0 55px;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;

				&::placeholder {
					color: $red;
				}
			}

			svg {
				fill: $red;
				position: absolute;
				left: 20px;
				top: 50%;
				transform: translate(0,-50%);
				z-index: 10;
			}
		}

		.site-search__close {
			padding-left: 30px;
			width: 1px;

			svg {
				cursor: pointer;
				float: right;
			}
		}
	}

	.search-message {
		line-height: px-to-rem(30);
		font-family: $font-bright;
		font-size: px-to-rem(20);
		margin-bottom: 20px;
		text-align: center;
	}

	// Filters and results

	.site-search__results-wrapper {
		display: table;
		padding: 25px;
		table-layout: fixed;
		width: 100%;
	}

	.site-search__filters, .site-search__results {
		display: table-cell;	
		vertical-align: top;
	}

	.site-search__filters {
		border-right: 1px solid $border-colour;
		padding-right: 20px;
		width: 200px;
	}

	.site-search__results {
		padding-left: 20px;
	}
}

// Hide algolia search icon and clear button
.ais-SearchBox-submit, .ais-SearchBox-reset {
	display: none;
}

// Checkboxes
.ais-RefinementList-list {
	border-bottom: 1px solid $border-colour;
	display: table;
	padding-bottom: 25px;
	width: 100%;
}

.ais-RefinementList-item {
	display: block;
	font-size: px-to-rem(14);
	line-height: px-to-rem(20);
	margin-bottom: 10px;

	input + span {
		cursor: pointer;
		display: inline-block;
		position: relative;
		padding-left: 25px;
		vertical-align: top;

		&:before {
			content: '';
			border: 1px solid $red;
			display: inline-block;
			margin-right: 8px;
			height: 14px;
			width: 14px;
			vertical-align: middle;
			pointer-events: none;
			transition: background 0.2s ease-out;
			position: absolute;
			left: 0;
			top: 2px;
		}
	}

	input {
		display: none;
	}

	input:checked + span:before {
		background: $red;
	}

	.ais-RefinementList-count {
		font-weight: 600;

		&:before { content: '('; }
		&:after 	{ content: ')'; }
	}
}

// Pagination 
.ais-Pagination {
	border-top: 1px solid $border-colour;
	margin-top: 25px;
	padding-top: 40px;

	.ais-Pagination-list {
		list-style: none;
		text-align: center;

		li {
			display: inline-block;

			.c-button {
				font-size: px-to-rem(14);
				padding: 8px 11px;
				margin-right: 10px;
			}
		}

		.ais-Pagination-item--selected a {
			background: $red;
			color: #FFF;
		}

		.ais-Pagination-item--disabled {
			display: none;
		}
	}
}

@media #{$media-tablet-landscape} {
	.site-search {
		.c-feature-grid__grid-view .c-feature-grid__item.small {
			width: 33.3%;
		}
	}
}


@media #{$media-tablet-middle} {
	.site-search {
		.c-feature-grid__grid-view .c-feature-grid__item.small {
			width: 50%;
		}
	}
}

@media #{$media-tablet-portrait} {
	.site-search {
		.c-feature-grid__grid-view .c-feature-grid__item.small {
			width: 100%;
		}
	}
}

@media #{$media-mobile-large} {
	.site-search {
		.site-search__header {
			height: 71px;
		}

		.site-search__results-wrapper {
			display: block;
			padding: 25px;
			table-layout: fixed;
			width: 100%;
		}

		.site-search__filters, .site-search__results {
			display: block;
		}	

		.site-search__filters {
			border-right: 0;
			padding-right: 0;
			width: 100%;
		}

		.site-search__results {
			padding-left: 0;
		}
	}

	.ais-Pagination {
		.ais-Pagination-list {
			list-style: none;
			text-align: center;

			li {
				&.ais-Pagination-item {
					display: none;
				}

				&.ais-Pagination-item--nextPage, &.ais-Pagination-item--previousPage, &.ais-Pagination-item--selected {
					display: inline-block;
				}
			}
		}
	}
}

@media #{$media-mobile-small} {
	.site-search {
		.site-search__header {
			padding-right: 20px;
			height: 49px;

			.site-search__close {
				padding-left: 20px;
			}
		}


		.search-message {
			line-height: px-to-rem(26);
			font-size: px-to-rem(17);
		}
	}
}