.animation-float {
	animation: float ease-in-out 8s infinite;
	-webkit-animation: float ease-in-out 8s infinite;
	-moz-animation: float ease-in-out 8s infinite;
	-o-animation: float ease-in-out 8s infinite;
	position: relative;

	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	
	-ms-animation: float ease-in-out 8s infinite;
	-ms-transform-origin: 50% 50%;

	// Safari transform origin fix
	-webkit-transform-box: fill-box;
	-moz-transform-box: fill-box;
	-o-transform-box: fill-box;
	-ms-transform-box: fill-box;
	transform-box: fill-box;
}

@-webkit-keyframes float {
	0% {
		-webkit-transform: translate(0px, 0) translate3d(0,0,0);
	}
	50% {
		-webkit-transform: translate(0, -3%) translate3d(0,0,0);
	}
	100% {
		-webkit-transform: translate(0px, 0) translate3d(0,0,0);
	}
}