
/* ==== Rings ==== */
	.c-two-column-header__image .ring {
		fill: #FFF;
		height: 45%;
		width: 45%;
		margin-left: 50px;
		position: absolute;
		transform: translate(-50%, -50%);
		z-index: 10;

		&.north-america {
			top: 37.5%;
			left: 55%;
		}

		&.united-kingdom {
			top: 30%;
			left: 49.5%;
		}

		&.africa {
			left: 51.6%;
			top: 50%;
		}

		&.india {
			left: 47.7%;
			top: 51.3%;
		}

		&.gulf-region {
			left: 49%;
			top: 49%;
		}

		&.europe {
			left: 52%;
			top: 45%;
		}

		&.greater-china {
			left: 48%;
			top: 39%;
		}
	}

	// The number of animated elements
	$elements: 5;

	// Our base duration
	$animation-duration: 1; // 1s

	// Multiply it by two because our keyframe stops at 50% to allow a delay/crossover between loops
	$animation-duration: $animation-duration * 2; // 2s

	// Calculate the delay needed based on duration and number of animated elements
	$animation-delay: ($animation-duration / $elements); // 0.4s

	// Reduce the delay slightly to make the animations overlap
	$animation-delay: $animation-delay * 0.75; // 0.3s

	.pulse {
		path {
			animation: pulse linear #{$animation-duration}s infinite;
			-webkit-animation: pulse linear #{$animation-duration}s infinite;
			-moz-animation: pulse linear #{$animation-duration}s infinite;
			-o-animation: pulse linear #{$animation-duration}s infinite;
			-ms-animation: pulse linear #{$animation-duration}s infinite;

			-webkit-transform-origin: 50% 50%;
			-moz-transform-origin: 50% 50%;
			-o-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;

			// Safari transform origin fix
			-webkit-transform-box: fill-box;
			-moz-transform-box: fill-box;
			-o-transform-box: fill-box;
			-ms-transform-box: fill-box;
			transform-box: fill-box;

			// Starting values
			opacity: 0;
			transform: scale(0.8);

			// Add delay to each ring using delay variable
			@for $i from 1 through 8 {

				&:nth-child( #{$i} ) {
					animation-delay: #{$animation-delay * $i}s;
				}

			}
		}
	}

	// Remove margin left of the ring
	@media #{$media-desktop} {
		.c-two-column-header__image .ring {
			margin-left: 0;
		}
	}

/* === END RINGS === */


@-webkit-keyframes pulse {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.8) translate3d(0,0,0);
	}
	45% {
		opacity: 1;
	}
	75% {
		opacity: 0;
		-webkit-transform: scale(1) translate3d(0,0,0);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(0.8) translate3d(0,0,0);
	}
}